.Game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 4px;
  width: 100vw;
}

.Screen {
  /* margin-top: 90px; */
}

.player-chat-container {
  display: flex;
  justify-content: center;
  gap: 4px;
  width: 100vw;
  max-width: 1000px;
}
