.Input__form {
  display: flex;
  gap: 2px;
  background: #ffffff;
  position: fixed;
  bottom: 0;
  width: 95vw;
  max-width: 930px;
  box-sizing: border-box;
  left: 50%;
  transform: translateX(-48.5%);
}

.Input__field {
  flex: 1;
  padding: 8px 12px;
  border: 1px solid blue;
  border-radius: 6px;
  outline: none;
  font-size: 20px;
  background: #fff;
  text-align: center;
}

.Input__field:focus {
  border: 2px solid #ff4500;
}

.Input__length {
  padding: 8px 12px;
  border: 1px solid blue;
  border-radius: 6px;
  outline: none;
  font-size: 20px;
  background: #fff;
  text-align: center;
  width: 50px;
  font-weight: bold;
}

.Input__send {
  padding: 8px 16px;
  border: none;
  background: #ff4500;
  color: #ffffff;
  border-radius: 6px;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
}

.Input__send:hover {
  background: #ff6700;
}

.Input__send:disabled {
  background: #ccc;
  cursor: not-allowed;
  opacity: 0.7;
}
